name: Compilar APK Debug

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clonar repositorio
        uses: actions/checkout@v4

      - name: Configurar JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Configurar variables de entorno para Java 17
        run: |
          echo "JAVA_HOME=$JAVA_HOME" >> $GITHUB_ENV
          echo "PATH=$JAVA_HOME/bin:$PATH" >> $GITHUB_ENV

      - name: Buscar gradlew y compilar
        run: |
          cd CodeAssist-main
          chmod +x gradlew
          ./gradlew assembleDebug --no-daemon

      - name: Subir APK
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: CodeAssist-main/app/build/outputs/apk/debug/app-debug.apk
        continue-on-error: true
