name: Compilar APK Debug

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clonar repositorio
        uses: actions/checkout@v4

      - name: Configurar JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Moverse a la carpeta correcta y dar permisos
        run: |
          cd CodeAssist-main/CodeAssist-main
          chmod +x gradlew

      - name: Compilar con Gradle
        run: |
          cd CodeAssist-main/CodeAssist-main
          ./gradlew assembleDebug

      - name: Subir APK
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: CodeAssist-main/CodeAssist-main/app/build/outputs/apk/debug/app-debug.apk
